<div class="main searchs-index">
  <div class="searchs-form">
    <h1 class="form-heading">検索する</h1>
    <div class="form">
      <div class="form-body">
        <input>
        <input type="submit" value="検索">
      </div>
    </div>
  </div>

  <div class="searchs-tag-index">
    <h1>タグ一覧</h1>
    <div class="searchs-tag">
    </div>
  </div>
</div>
