<div class="main top-main">
  <div class="top-message">
    <h2>あなたの"スキ"をみんなに伝えよう</h2>
  </div>

  <div class="info">
    <div class="info-text">
      <h2>〇〇とは</h2>
      <p>説明してるよ</p>
      <p>説明したいな</p>
      <p>説明します</p>
    </div>
  </div>
</div>
