<div class="main top-main">
  <div class="top-message">
    <h2>あなたの"スキ"を<br>みんなに"シェア"しよう</h2>
  </div>

  <div class="info">
    <div class="info-text">
      <h2>"しぇあスキ"とは</h2>
      <p>説明してるよ</p>
      <p>説明したいな</p>
      <p>説明します</p>
    </div>
  </div>

  <% if session[:user_id] %>
  <% else %>
  <div class="user-link">
    <div class="signup-link">
      <p>まだ登録していない方</p>
      <%= link_to("新規登録","/signup") %>
    </div>
    <div class="login-link">
      <p>すでに登録している方</p>
      <%= link_to("ログイン","/login") %>
  </div>
  </div>
  <% end %>

</div>
