<div class="main top-main">
  <div class="top-message">
    <h2>好きをつくる<br>好きをさがす<br>好きにこたえる</h2>
  </div>

  <div class="info">
    <h2>"スキクリエイト"とは</h2>

    <p class="info-image">
      <img src="/info1.png">
    </p>
    <div class="info-text">
      <p>みんなの"スキ"がたくさん詰まった  <br>
        この場所であなたの"スキ"を投稿しよう</p>
      <p>気に入った"スキ"には<br>
        「わかる」や「いいね」ができる</p>
    </div>

  </div>

  <% if session[:user_id] %>
  <% else %>
  <div class="user-link">
    <h3>さあ、あなたも始めよう</h3>
  <div class="link">
    <div class="signup-link">
      <p>まだ登録していない方</p>
      <%= link_to("新規登録","/signup") %>
    </div>
    <div class="login-link">
      <p>すでに登録している方</p>
      <%= link_to("ログイン","/login") %>
    </div>
  </div>
  </div>
  <% end %>

</div>
