/* posts/index ================================ */

.posts-index-item {
  width: 270px;
  height: 370px;
  float: left;
  margin: 10px;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: solid 1px #ccc;
}

.posts-title{
  border-bottom: solid 1px #bbb;
}

.posts-title a:hover{
  color: #faa;
}

.posts-image img{
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: solid #ddd 1px;
  margin: 15px auto 10px;
}

.post-user-name{
  margin-top: 30px;
}

.post-user-name img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 400;
  font-size: 20px;
  color:  #777;
}


/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-main {
  margin-top: 60px;
}

.posts-show{
  margin: 20px;
}

.posts-show-title{
  padding: 5px 5px 0px 5px;
  background-color: #fff;
  border-bottom: solid 1px #bbb;
}

.posts-show-title p{
  font-size: 30px;
}

.post-user-name{
  margin-top: 5px;
  padding: 0 0 10px 0;
  text-align: right;
}

.post-user-name img{
  width: 30px;
  height: 30px;
  object-fit: cover;

}

.post-user-name a{
  font-size: 15px
}

.post-user-name a:hover{
  color: #faa;
}

.posts-show-image {
  text-align: center;
  margin-bottom: 20px;
}

.posts-show-image img{
  width: 80%;
  height: 300px;
  object-fit: cover;

}

.posts-show-item {
  width: 100%;
  padding: 15px;
  background-color: white;
  border: solid 1px #eee;
  border-radius: 10px;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
}

.posts-show-tag {
  clear: both;
  padding: 10px;
}

.posts-show-tag h3 {
  font-size: 20px;
  font-weight: normal;
  float: left;
  padding-right: 10px;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.clear-element {
  clear: both;
}

.posts-btn{
  padding: 5px;
}

.like {
    float: left;
    margin-right: 15px;
}

.like-btn-unlike a{
  color: #ff3097;
}

.like-btn-like a:hover {
  color: #ff3097;
}

.post-time {
  color: #8899a6;
  margin: 5px 10px;
}

.post-menus {
  float: right;
}

/* posts/new ================================ */
.posts-new{
  margin-top: 30px;
}

.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}


/* posts/edit ================================ */
.form-body p {
  clear: both;
}

.posts-edit-tags {
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

.posts-edit-tags p {
  font-size: 16px;
  font-weight: 800;
}
