/* posts/index ================================ */

.posts-index-item {
  width: 280px;
  height: 400px;
  float: left;
  margin: 5px;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: solid 1px #bbb;
}

.posts-title{
  border-bottom: solid 1px #bbb;
}

.posts-title a:hover{
  color: #faa;
}

.posts-image img{
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin: 30px auto 10px;
}

.post-user-name{
  margin-top: 30px;
}

.post-user-name img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 400;
  font-size: 20px;
  color:  #777;
}


/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show{
  margin: 20px;
}

.posts-show-title{
  padding: 5px 5px 0px 5px;
  background-color: #fff;
  border-bottom: solid 1px #bbb;
}

.posts-show-title p{
  font-size: 30px;
}

.post-user-name{
  margin-top: 5px;
  padding: 0 0 10px 0;
  text-align: right;
}

.post-user-name img{
  width: 30px;
  height: 30px;
  object-fit: cover;

}

.post-user-name a{
  font-size: 15px
}

.post-user-name a:hover{
  color: #faa;
}

.posts-show-image img{
  width: 100%;
  height: 300px;
  margin-right: 20px;
  object-fit: cover;

}

.posts-show-item {
  width: 100%;
  padding: 15px;
  background-color: white;
  border: solid 1px #eee;
  border-radius: 10px;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
