/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 30px 0 10px;
  font-size: 24px;
  color: #444;
}

.users-index-item {
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  overflow: hidden;
  border: solid 1px #bbb;
  display: table;
  width: 45%;
  float: left;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #aaa;
}


/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  margin: 10px 0 10px;
  object-fit: cover;
  border: solid 1px #ddd;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

.user p {
  font-size: 13px;
  margin-bottom: 10px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.user-tabs li {
  float: left;
}

.user-tabs li :hover {
  color: #333;
}

.user-tabs li.active {
  border-bottom: 3px solid #ff9ed0;
}

.user-tabs li.active a {
  color: #555;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

.users-form input[type="file"]{
}
