<div class="main searchs-index">
  <div class="searchs-form">
    <h1 class="form-heading-searchs">検索する</h1>
    <div class="form-searchs">
      <div class="form-body-searchs">
        <%= form_tag("/searchs/search") do %>
        <input>
        <input type="submit" value="検索">
        <% end %>
      </div>
    </div>
  </div>

  <div class="searchs-tag-index">
    <h1>タグ一覧</h1>
    <% @tags.each do |tag| %>
    <div class="searchs-tag">
      <%= link_to(tag.tag_name,"/searchs/#{tag.id}/show") %>
    </div>
    <% end %>
  </div>
</div>
